@use'./variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: var(--text-muted) rgba(0,0,0,0);
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}